cachetools==5.2.0
certifi==2024.7.4
chardet==5.0.0
charset-normalizer==2.1.0
cssselect==1.1.0
cssutils==2.5.0
idna==3.7
lxml==4.9.1
pip-upgrade-outdated==1.5
premailer==3.10.0
python-dotenv==0.20.0
requests==2.32.4
urllib3==2.5.0
yagmail==0.15.280
